<% content_for :title, "Grades" %>

<div class="container mx-auto px-4 py-6">
  <h1 class="text-4xl font-bold text-center mb-6">All Grades</h1>


  <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-10">
    <% @grades.each do |grade| %>
      <%= link_to by_grade_classrooms_path(grade), class: "block" do %>
        <div class="bg-blue-50 border-b border-blue-100 hover:bg-gray-300 rounded-xl p-6 text-center transition duration-200 shadow-md hover:shadow-lg hover:bg-blue-50">
          <span class="text-lg font-bold text-gray-700">G.<%= grade %></span>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
