<%= render "shared/notice" %>

<% if flash[:error] || flash[:alert] %>
    <p><%= flash[:error] || flash[:alert] %></p>
  </div>
<% end %>

<% content_for :title, "Create New Classroom" %>

<div class="student-card max-w-md mx-auto mt-4">
  <div class="mt-4">
    <%= link_to manage_classrooms_path, class: "entity-btn back-btn text-black" do %>
      <i class="fas fa-arrow-left"></i> Back
    <% end %>
  </div>

  <div class="mt-4">
    <h1 class="text-2xl font-bold mb-4 text-center">Create New Classroom</h1>
    <%= render "form", classroom: @classroom %>
  </div>
</div>
