<p>Hello <%= @user.first_name %>,</p>

<p>Your school account has been created! Here are your login credentials:</p>

<p><strong>Username:</strong> <%= @user.email_address %></p>
<p><strong>Password:</strong> <%= @password %></p>

<p>Please log in using these credentials and update your password as soon as possible.</p>

<p>Best,</p>
<p>School Admin Team</p>
