<%= render "shared/notice" %>

<% content_for :title, "Editing student" %>

<div class="student-card max-w-md mx-auto mt-10">
  <div class="mt-4">
    <%= link_to students_path, class: "btn flex btn-accent text-black" do %>
      <i class="fas fa-arrow-left"></i> Back
    <% end %>
  </div>

  <div class="mt-4">
    <h1 class="text-2xl font-bold mb-4 text-center">Editing Student</h1>
    <%= render "form", student: @student %>
  </div>
</div>
