<%= render "shared/notice" %>
<%= render "shared/confirmation_modal" %>

<% content_for :title, "Manage Students" %>

<div class="student-card max-w-md mx-auto mt-4">
  <div class="mt-4">
    <%= link_to students_path, class: "entity-btn back-btn text-black" do %>
      <i class="fas fa-arrow-left"></i> Back
    <% end %>
  </div>
  <%= render @student %>
</div>
