<% if flash[:notice] || flash[:error] || flash[:errors] %>
  <div id="flash-message" class="fixed top-6 left-1/2 transform -translate-x-1/2 z-50 w-full flex justify-center px-4">
    <% if flash[:notice] %>
      <div class="alert alert-success max-w-md">
        <i class="fas fa-check-circle mr-2"></i>
        <span><%= flash[:notice] %></span>
      </div>
    <% end %>

    <% if flash[:error] %>
      <div class="alert alert-error max-w-md">
        <i class="fas fa-exclamation-circle mr-2"></i>
        <span><%= flash[:error] %></span>
      </div>
    <% end %>

    <% if flash[:errors] %>
      <div class="alert alert-error max-w-md rounded-xl">
        <i class="fas fa-exclamation-circle mr-2"></i>
        <ul class="text-left ml-4 list-disc">
          <%= flash[:errors].html_safe %>
        </ul>
      </div>
    <% end %>
  </div>

  <script>
      setTimeout(() => {
          const flash = document.getElementById("flash-message");
          if (flash) {
              flash.style.transition = "opacity 0.5s ease";
              flash.style.opacity = "0";
              setTimeout(() => flash.remove(), 500);
          }
      }, 5000); // 5 seconds
  </script>
<% end %>
