<div class="min-h-screen flex flex-col md:flex-row items-center justify-center px-4 pr-4 bg-gradient-to-r from-[#8294C4] to-[#DBDFEA]">
  <!-- Logo Text (Left on Desktop, Top on Mobile) -->
  <div class="flex justify-center w-full md:w-1/2 px-6 pb-4">
    <div class="max-w-md w-full text-center md:text-left">
      <p class="text-black text-4xl font-bold">Welcome to</p>
      <div class="text-[#4A4A4A] text-6xl md:text-[7rem] font-bold leading-none">
        <%= render "shared/logo_text" %>
      </div>
    </div>
  </div>

  <!-- Form Box (Right on Desktop, Bottom on Mobile) -->
  <div class="flex justify-start w-full md:w-1/2 px-6">
    <div class="max-w-md w-full">
      <%= render "shared/notice" %>
      <div class="student-card max-w-md w-full p-8 bg-white rounded-2xl shadow-2xl">
        <%= yield %>
      </div>
    </div>
  </div>
</div>
