<p>Dear <%= @user.first_name %>,</p>

<p>This is a reminder that your subscription will expire soon. Please renew your subscription to continue enjoying our services.</p>

<p>Please visit our website to renew your subscription to continue your services.</p>

<p>Thank you!</p>
