<% content_for :title, "New attendance" %>
<% if notice.present? %>
  <div class="alert alert-info w-fit mx-auto mb-4">
    <%= notice %>
  </div>
<% end %>
<turbo-frame id="students">
  <%= render "attendances/attendance_scan_table" %>
</turbo-frame>
