<% content_for :title, "New attendance" %>
<% if notice.present? %>
  <div class="alert alert-info w-fit mx-auto mb-4">
    <%= notice %>
  </div>
<% end %>

<%= form_with url: new_attendance_path, method: :get, scope: :q, local: true, id: "student-search-form", data: { turbo_frame: "students" } do |f| %>
  <div class="p-5 bg-neutral-400 flex justify-center">
    <%= f.text_field :name_cont, placeholder: "Search by student name...",
          data: { controller: "search", action: "input->search#search" },
          class: "input input-bordered w-full max-w-xs" %>
  </div>
<% end %>

<turbo-frame id="students">
  <%= render "attendances/attendance_scan_table" %>
</turbo-frame>
